@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}
i {
  cursor: pointer;
}
.catorery-header {
  background-color: white;
  cursor: pointer;
}

.catogries,
.allCatogries {
  color: black;
  padding: 20px 0;
  justify-content: center;
  display: flex;
}
.catogries:hover {
  background: rgba(231, 229, 229, 1);
  border-bottom: 1px solid black;
}

.navbar:hover li {
  cursor: pointer;
}
.all-catogries {
  border-top-right-radius: 30px;
  color: white !important;
}
.body {
  background: rgba(231, 229, 229, 1);
}
.products {
  border-radius: 30px;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.products img {
  width: 100%;
}

.footer-info li {
  color: white;
}

.footer-info h3 {
  color: white;
  font-size: 22px;
  font-weight: 700;
}

.details-img {
  position: relative;
}
.left-angle {
  position: absolute;
  top: 150px;
  left: 20px;
  background: white;
  padding: 5px 7px;
  border-radius: 50px;
  display: none !important;
}
.right-angle {
  position: absolute;
  top: 150px;
  right: 20px;
  background: white;
  padding: 5px 7px;
  border-radius: 50px;
  display: none !important;
}

.addForm,
.addForm input,
select,
.addForm textarea,
.addForm button,
.search,
.addImg,
.register,
.register-card input,
.register-card,
.message,
.buttons,
.admin {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.plans {
  background: #4b5358;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.plans:hover {
  background: #767070;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
input:focus {
  outline: none;
  border: none;
}

.register:hover,
.buttons:hover {
  background: purple;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
